.latest-offer {
    background-color: #fff;  
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.latest-offer h2 {
    font-weight: bold;
    font-size: 30px;
    color: #C2950D;
    margin-top: 30px;
    text-align: center;
}
  
.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 49px;
    color: #000000;
    text-align: left;
}
  
.products .list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5em;
}

.product-details {
    width: 100%;
    text-align: left;
    margin-top: -10px;
}
  
.products .list .item {
    height: auto;
    max-width: 350px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
  
.cart {
    display: flex; 
    justify-content: space-between;  
}
.products .list .item img {
    width: 289px;
    height: 285px;
    flex-shrink: 0;
    border-radius: 30px;
}
  
.products .list .item .title {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
}
  
.products .price,
.state {
    font-weight: 500;
}

@media (max-width: 768px) {
    .product {
        padding: 0;
    }
    .products{
        padding-left: 0;
        margin-left: -10px;
        margin-right: 22px;
    }
}