.about {
    display: flex;
    color: #2E2D2D;
    padding: 10px;
    gap: 140px;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    align-items: center;
    background-color: #B9B5B5;
    height: 30vh;
    overflow: hidden;
}

.about h2 {
    font-weight: bold;
    font-size: 30px;
    color: #C2950D;
    margin-left: 140px;
}

.ours {
    margin-left: -170px;
}
.paragraph {
    display: flex;
    color: #2E2D2D;
    padding: 0 var(--app-block-padding);
    gap: 30px;
    font-family: "Poppins", sans-serif;
    line-height: 25px;
    flex-direction: row;
    background-color: #B9B5B5;
    padding-bottom: 30px;
    margin-top: -35px;
}
.containers p{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: o;
}

@media (min-width: 1440px) {
    .about {
        height: 17vh;
        gap: 230px;
    }
    .our h2 {
        margin-left: 100px;
    }
    .containers p {
        line-height: 30px;
        font-size: 19px;
    }
    
    .ours{
        margin-left: -170px;
    }
}
@media (max-width: 1028px)  {
    .about {
        height: 20vh;
        gap: 10px;
    }
    .ours {
        margin-left: -100px;
    }
}
@media (max-width: 768px) {
    .about {
        height: 13vh;
        gap: 130px;
    }
    .about h2 {
        font-size: 20px;
        margin-top: 0;
        padding-top: 0;
        margin-left: 20px;
    }
    .our {
        margin-left: 49px;
    }
    .ours {
        margin-left: -50px;
    }
    
}
@media (max-width: 600px) {
    .section {
        display: block;
    }
    .about {
        height: 30vh;
    }
    .about, h2, .paragraph {
        display: block;
    }
    .our, .ours {
        display: none;
    }
    .about h2 {
        padding-top: 30px;
        margin: 0;
        text-align: center;
    }

    .paragraph {
        margin-top: -180px;
    }
    .containers p {
        padding-top: 15px;
    }
}



