.footer {
    font-size: 12px;
    color: #919496;
    padding: 0 var(--app-block-padding);
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    overflow: hidden;
}

.footer .copyright, .footer .menu {
    flex: 0.3;
    max-width: 0.3fr;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    font-size: 11px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.icons {
    display: flex;
    color: #ddcccc;
    max-height: 54px;
    border-radius: 27px;
    padding: 20px;
    gap: 9px;
    margin-left: 140px;
    cursor: pointer;  
}

.svg {
    display: flex;
    flex-wrap: wrap;
}

.footer .menu {
    flex: 1;
    align-items: flex-start;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav, .nav ul{
    list-style: none;
    padding: 0;
}

.nav ul a, .legal-urls a {
    color: #fff;
    text-decoration: none;
}

.nav ul li {
    padding: 5px 0;
}

.legal-urls a {
    margin-left: 440px;
    color: #919496;
    font-size: 12px;
    justify-content: center;
}

.menuItem {
    display: flex;
    width: 100%;
}

.tech {
    display: none;
}

.app {
    position: fixed;
    padding: 10px;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.app .svg {
    background-color: #09871E;
    font-size: 60px;
    text-decoration: none;
    top: -40px;
    border-radius: 40%;
}

.menuItem img {  
    width: 130px;
}

@media (max-width: 1024px) {
    .footer, .menuItem {
        display: block;
    }
    .copyright {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .flex {
        justify-content: center;
        text-align: left;
        margin-top: -40px;
    }
    .legal-urls {
        display: none;
    }

    .tech {
        display: block;
        margin-top: 60px;
        text-align: center;
    }
    .copyright {
        margin-top: -245px;
        margin-left: -40px;
    }
    .icons {
        margin-left: 19.9rem;
    }

}
@media (max-width: 768px) {
    .copyright {
        margin-top: -245px;
        margin-left: -40px;
    }
}
@media (min-width: 1440px) {
    .tech {
        display: none;
    }   
}

@media (min-width: 1024px) {
    .flex, .menuItem{
        gap: 30px;
    }
}
@media (min-width: 1404px) {
    .flex, .menuItem{
        gap: 100px;
    }

}

@media (max-width: 600px) {
    .flex {
        margin-top: 20px;
        text-align: left;
    }
    .gototop {
        display: block;
    }
    .tech {
        display: block;
        text-align: center;
    }
    .icons {
        margin-left: 4.5rem;
    }
    .copyright {
        margin-top: 0;
        margin-left: -175px;
    }
}

@media (max-width: 390px) {
    .flex {
        margin-top: 20px;
        text-align: left;
    }
    .icons {
        margin-left: 3rem;
    }
    .copyright {
        margin-left: -140px;
    }
}

@media (max-width: 327px)  {
    .icons {
        margin-left: 1rem;
    }
    .copyright {
        margin-top: 0;
        margin-left: -120px;
    }

    .app .svg {
        margin-bottom: 40px;
    }

}
@media (min-width: 768px) {
    .icons {
        margin-left: 15rem;
    } 

}
