.header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px var(--app-block-padding);
}


.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    padding: 5px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    text-wrap: nowrap;
    
}

.menu ul li a:hover {
    color: #B1B1B1;
}
.menu-icon {
    display: none;
}

.menu ul li.active img {
    width: 26px;
}

.register {
    margin-top: -10px;
    padding: 13px 45px;
}

@media (max-width: 1024px) {
    .header {
        padding: 0 70px; 
    }
}
@media (max-width: 500px) {
    .header {
        padding: 0 var(--app-block-padding);
    }
    .menu-icon {
        display: block;
        background-color: rgba(9, 135, 30, 1);
    }

    .menu {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        padding: 0 var(--app-block-padding);
        background-color: #fff;
    }
    .menu ul {
        display: none;
        padding: 0;
    }

    ul.mobile {
        display: block;
    }
    .menu ul li {
        padding: 10px 0;
    }
    .menu ul li a{
        padding-left: 0;
    }
    .menu li.hidden-mobile {
        display: none;
    }

}