.start {
    color: #000000;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
.term {
    text-align: left;
    padding: 13px var(--app-block-padding);
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.term h4 {
    margin-top: 20px;
    text-align: left;
}

.term p{
   font-size: 14px;
   text-align: left;
}


.check {
    color: #000000;
    padding: 1px var(--app-block-padding);
}
@media (max-width: 768px) {
    .term h4 {
        text-align: center;
        margin-bottom: 5px;
    }
    .term {
        padding: 13px;
        overflow: hidden;
    }
    .check {
        margin-left: -13px;
    }
}

@media (max-width: 500px) {
    .term h4 {
        text-align: center;
    }
}