.puts {
    display: flex;
    gap: 140px;
    color: #fff;
    margin-left: 200px;
}

.text {
    display: flex;
    padding-right: 90px;
    flex-direction: column;
}

.text label {
    font-weight: bold;
}
.text input {
    background-color: #F8D6C1;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 12px 60px;
    padding-left: 10px;
}

@media (max-width: 500px) {
    .puts {
        padding: 10px;
        display: block;
        gap: 10px;
        margin-left: 10px;
        margin-top: -20px;
    }
    .text { 
        margin-top: -30px;
        width: 250px; 
        padding-right: 10px; 
        margin-left: -160px;
    }
    .text input {
        padding: 12px 10px;
    }
    .map {
        margin-top: 10px;
    }
    
}