.image{
    width: 100%;
    height: 125vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../asset/icons/smile.jpg); 
    overflow: hidden;
}

.overlay{
    width: 100%;
    height: 125vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    color: #fff;
    align-items: center;
    
}
.section-container {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
    gap: 110px;
    padding: 10px var(--dashboard-padding); 
}
.back {
    width: 14px;
    margin-left: -27px;
}

.create {
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    padding-left: 10px;
    text-align: left;
    padding-right: 80px;
    color: #fff;
    margin-top: -30px;
}

.front {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 62px;
    justify-content: center;
}

.front img {
    width: 20px;
}

.create h4 {
    margin-left: 5px;
    font-weight: bold;
    color: #2E2D2D;
}

.divider {
    border: 1px solid #B9B5B5;
    text-align: center;
    height: 0px;
    font-size: 12px;
    font-weight: bold;
    width: 90%;
    line-height: 0px;
}

.divider span {
    background-color: #fff;
    padding:  5px 20px;
    color: #B9B5B5;
}


.part input {
    border-radius: 10px;
    padding: 10px 80px;
    padding-left: 10px;
    background-color: #F8D6C1;
    border: 1px solid #a27a62;
}

input {
    text-align: left;
}

.part label {
    font-size: 13px;
    font-weight: 400;
}
.already, .alreadys {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
}

.alreadys span {
    color: green;
    text-decoration: underline;
}
.already span {
    text-decoration: underline;
    color: green;
}

.scan {
    margin-top: -230px;
    text-align: center;
    line-height: 20px;
    padding-left: 0px;
}

.create h4 {
    color: #fff;
}
h6 {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.scan p {
    font-size: 12px;
}
.scan img{
    width: 300px;
}

.space {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
    margin-top: -350px;
}

a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

a span {
    color: green;
    text-decoration: underline;
}
@media (min-width: 1440px) {
    .image, .overlay {
        height: 93vh;
        overflow: hidden;
    }
    .section-container {
        gap: 180px;
    }
    .create {
        padding: 20px ; 
        margin-top: 30px;
        
    }
    .scan {
        margin-left: 10px;
    }
    .front {
        padding-left: 10px;
        padding-right: 90px;
    }

    .space {
        margin-left: 110px;
        margin-top: -250px;
    }
}
@media (max-width: 1026px) {
    .image, .overlay {
        height: 93vh;
        overflow: hidden;
    }
    .section-container {
        gap: 80px;
    }
    .create {
        padding: 20px ; 
        margin-top: 30px;
        margin-left: -90px;
    }
    .scan {
        margin-left: 10px;
    }
    .front {
        padding-left: 10px;
        padding-right: 90px;
    }

    .space {
        margin-left: 140px;
        margin-top: -250px;
    }
}

@media (max-width: 768px) {
    .image, .overlay {
        height: 93vh;
    }
    .section-container {
        gap: 20px;
    }
    .create {
        padding: 20px ; 
        margin-top: 30px;
        margin-left: -130px;
    }
    .space {
        margin-left: 100px;
        margin-top: -250px;
    }
}
@media (max-width: 500px) {
    .image, .overlay {
        height: 120vh;
        overflow: hidden;
    }
    .section-container {
        display: block;
        padding: 0; 
        overflow: hidden;  
    }
    .already {
        text-align: center;
        font-size: 15px;
        margin-left: -4px;
    }

    .divider {
        background-color: #09871E;
        width: 96%;
        margin-left: 20px;
    }
    .create {
        gap: 0;
        align-items: center;
        justify-content: center;
        margin-left: 60px;
    }
    h4 {
        text-align: center;
        margin-top: -20px;
    }
    .scan{
        margin-top: -300px;
    }
    .space {
        margin-left: 70px;
        align-items: center;
        margin-top: -70px;
    }

    .already {
        text-align: center;
        font-size: 15px;
        margin-left: 14px;
    }
}
@media (max-width: 428px) {
    .divider {
        width: 68%;
        margin-left: 20px;
    }
    .create {
        margin-left: 70px;
    }
    .space {
        margin-top: -39px;
        margin-left: 39px;
    }
    .scan {
        margin-top: -220px;
    }
    .scan img {
        margin-top: 0px;
        height: 120px;
        width: 300px;
    }
}

@media (max-width: 376px) {
    .create {
        margin-left: 38px;
    }
    .divider {
        width: 75%;
        margin-left: 20px;
    }
}
@media (max-width: 358px)  {
    .image, .overlay {
        height: 128vh;
    }
    .create {
        margin-left: 20px;
        overflow: hidden;
    }
    .space {
        margin-top: 1px;
        margin-left: 60px;
    }
    .rem {
        margin-left: -30px;
    }
}