.containers {
    padding: 10px var(--dashboard-padding);
    font-family: "Poppins", sans-serif;
    color: #000000;
    overflow: hidden;
}

.container h2 {
    text-align: center;
}

.farm input {
    border-radius: 5px;
    padding-top: 12px;
    padding-right: 250px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: black;
    background-color: #F8D6C1;
    border: 1px solid #F8D6C1;
}

.farm label {
    font-size: 13px;
    font-weight: 400;
}

.photo {
    margin-left: -79px;
    display: flex;
    gap: 80px;
}

@media (max-width:768px) {
    .containers {
        padding: 10px;
    }
    .farm input {
        padding-right: 150px;
        margin-left: 220px;
    }
    .photo {
        margin-left: 210px;
        gap: 20px;
        margin-bottom: 10px;
    }
}

@media (max-width:427px) {
    .farm input {
        padding-right: 190px;
        margin-left: 10px;
    }
    .photo {
        margin-top: 10px;
        margin-left: -50px;
        gap: 70px;
    }
}
@media (max-width:377px) {
    .farm input {
        padding-right: 150px;
    }
    .photo {
        margin-left: -10px;
        gap: 30px;
    }
}

@media (max-width:322px) {
    .farm input {
        padding-right: 100px;
    }
    .photo {
        gap: 10px;
    }
}