.btn,
.login,
.register,
.sell,
.red,
.second,
.request,
.btn-secondary,
.btn-outline {
  background-color:  rgba(9, 135, 30, 1);
  border: none;
  color: #fff;
  padding: 16px 85px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Poppins';
  justify-content: left;
  text-align: left;
  list-style: none;
}

.btn-register {
  background-color: rgba(9, 135, 30, 1);
  border: 1px solid rgba(31, 106, 43, 1);
  color: #fff;
  height: 43px;
  padding: 16px 45px;
  width: 200px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}

.btn-red {
  background-color: #FF3434;
  border: 1px solid #cb4141;
  color: #fff;
  height: 43px;
  padding: 16px 45px;
  width: 200px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}

.btn-secondary {
  background-color: rgba(216, 247, 225, 1);
  border: 1px solid rgba(31, 106, 43, 1);
  color: #000;
  height: 43px;
  width: 250px;
}

.btn-second {
  background-color: rgba(216, 247, 225, 1);
  border: 1px solid rgba(31, 106, 43, 1);
  color: #000;
  border-radius: 20px;
  padding: 13px 45px;
  cursor: pointer;
}

.btn-second:hover {
  background-color: #53AE4E;
  color: #fff;
}
.btn-seconds {
  background-color: rgba(9, 135, 30, 1);
  border: 1px solid rgba(31, 106, 43, 1);
  color: #000;
  border-radius: 20px;
  padding: 13px 45px;
  cursor: pointer;
}

.btn-seconds:hover {
  background-color: #53AE4E;
  color: #fff;
}


.btn-login {
  background-color: rgba(9, 135, 30, 1);
  border: 1px solid rgba(31, 106, 43, 1);
  color: #fff;
  height: 43px;
  padding: 16px 45px;
  width: 250px;
}

.btn-outline {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(31, 106, 43, 1);
  height: 43px;
  width: 250px;

}

.btn-read {
  background-color: #09871E;
  border: 1px solid rgba(31, 106, 43, 1);
  color: #fff;
  border-radius: 20px;
  padding: 16px 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: #53AE4E;
  color: #2d2d2d;
}

.btn-read:hover {
  background-color: #53AE4E;
  color: #2d2d2d;
}

.btn-cart {
  background-color: #D8F7E1;
  border: 1px solid rgba(31, 106, 43, 1);
  color: #09871E;
  border-radius: 25px;
  padding: 10px 17px;
  cursor: pointer;

}

.btn-cart:hover {
  background-color: #53AE4E;
  color: #2d2d2d;
}

.btn-register:hover {
  background-color: #53AE4E;
  color: #2d2d2d;
}

.btn-sell {
  background-color: goldenrod;
  border: 1px solid rgb(156, 120, 30);
  color: #000;
  font-weight: bold;
  border-radius: 20px;
  padding: 16px 25px;
  cursor: pointer;
}

.btn-sell:hover {
  background-color: #53AE4E;
  color: #fff;
}
.btn-request {
  background-color: goldenrod;
  border: 1px solid rgb(156, 120, 30);
  color: #53AE4E;
  font-weight: bold;
  border-radius: 20px;
  padding: 7px 25px;
  cursor: pointer;
}

.btn-request:hover {
  background-color: #53AE4E;
  color: #fff;
}
@media (max-width: 500px) {
  .btn-outline, .btn {
    padding: 10px 20px;
    text-wrap: nowrap;
    margin-top: 10px;
  }
  .btn-outline.btn-invert{
    margin-top: 10px;
    justify-content: center;
  }
}
.btn-outline.btn-invert {
  background-color: inherit;
  border: 2px solid #000;
  margin-left: 15px;
  color: #000;
  font-weight: bold;
}
section.green {
  background-color: rgb(84, 217, 82);
}
